.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
}

.movie-item {
    background-color: var(--background-color2);
    border: 5px solid var(--accent-colour);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 1.5rem;
}

.movie-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.movie-link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1rem;
}

.movie-info {
    padding: 1rem;
}

.movie-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--text-light);
}

.movie-details {
    font-size: 1rem;
    color: var(--text-light)
}

@media (max-width: 768px) {
    .movie-item {
        width: 100%;
    }

    .movie-list {
        flex-direction: column;
        align-items: center;
    }
}
